<article>
  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container *ngFor="let item of displayedColumns" [matColumnDef]="item">
      <th mat-header-cell *matHeaderCellDef>{{item | uppercase}}</th>
      <td mat-cell *matCellDef="let element">
        <div class="btn-edit" *ngIf="item === 'actions';">
          <app-context-menu></app-context-menu>
        </div>
        {{element[item]}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-raised-button (click)="OnAddNew()" color="primary" type="button">
    Add new
    <mat-icon>add</mat-icon>
  </button>
</article>
