<article>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let item of displayedColumns" [matColumnDef]="item">
      <th mat-header-cell *matHeaderCellDef>{{item}}</th>
      <td mat-cell *matCellDef="let element">
        <div class="btn-edit" *ngIf="item === 'actions';">
          <button mat-icon-button [disabled]="!isLoggedIn" [matMenuTriggerFor]="settingsMenu">
            <mat-icon>settings</mat-icon>
          </button>
          <mat-menu #settingsMenu="matMenu">
            <button (click)="openEditDialog(element)" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="openDeleteDialog(element)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span></button>
          </mat-menu>
        </div>
        <div *ngIf="item==='date'">
          {{element[item] | date}}
        </div>
        <div *ngIf="item!=='date'">
          {{element[item]}}
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</article>


