<div class="stores-container">
  <app-header (isLoggedInStatus)="applyLoggedInStatus($event)"></app-header>
  <app-filter
    (filterValue)="applyFilter($event)">
  </app-filter>
  <app-stores-list
    [dataSource]="dataSource"
    [isLoggedIn]="isLoggedIn"
    (updatedStore)="onEdit($event)"
    (deletedStore)="onDelete($event)"
  ></app-stores-list>
  <div class="add-new-btn">
    <button mat-raised-button [disabled]="!isLoggedIn" (click)="openAddNewDialog()" color="primary" type="button">
      Add new
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>


