<div class="stores-container">
  <app-header
    (isLoggedInStatus)="applyLoggedInStatus($event)"></app-header>
  <app-filter
    (filterValue)="applyFilter($event)">
  </app-filter>
  <app-stores-list
    [dataSource]="dataSource"
    [isLoggedIn]="isLoggedIn"
    (clickedStore)="applyClickedStore($event)"
    (updatedStore)="onEdit($event)"
    (deletedStore)="onDelete($event)">
  </app-stores-list>
  <app-stores-add-new
    [isLoggedIn]="isLoggedIn"
    (dialogValue)="onAdd($event)"></app-stores-add-new>
  <app-paginator
    (paginatorEventToParent)="applyPaginator($event)">
  </app-paginator>
  <app-stores-size-calculator
    [clickedStore]="clickedStore"
  ></app-stores-size-calculator>
</div>


