<mat-toolbar color="primary">
  <mat-nav-list fxLayout="row" *ngFor="let route of routes">
    <button mat-button [routerLink]="route.routerLink">{{route.path}}</button>
  </mat-nav-list>
  <span class="spacer"></span>

  <div *ngIf="isLoggedIn; then logoutTpl else loginTpl"></div>
  <ng-template #loginTpl>
    <button mat-stroked-button routerLink="/login">
      Login
    </button>
  </ng-template>
  <ng-template #logoutTpl>
    <span>{{loggedInUser?.name}}</span>
    <button mat-button (click)="onLogOut()">
      Logout
    </button>
  </ng-template>


</mat-toolbar>
