<mat-toolbar color="primary">
  <mat-nav-list *ngFor="let route of routes">
    <button mat-button [routerLink]="route.routerLink">{{route.path}}</button>
  </mat-nav-list>
  <span class="spacer"></span>

  <div *ngIf="isLoggedIn; then logoutTpl else loginTpl"></div>
  <ng-template #loginTpl>
    <button mat-stroked-button routerLink="/login">
      Login
    </button>
  </ng-template>
  <ng-template #logoutTpl>
    <span class="name">{{loggedInUser.name}}</span>
    <button mat-icon-button (click)="onLogOut()">
      <mat-icon matTooltip="Logout">logout</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>
