<mat-toolbar color="primary">
  <mat-nav-list fxLayout="row" *ngFor="let route of routes">
    <button mat-button [routerLink]="route.routerLink">{{route.path}}</button>
  </mat-nav-list>
  <span class="example-spacer"></span>
  <div
    *ngIf="loggedInUser">
    <span class="user">{{loggedInUser.name}}</span>
    <button mat-button (click)="onLogOut()">
      Logout
    </button>
  </div>
  <button mat-button *ngIf="!isLoggedIn" (click)="onLogIn()" routerLink="/login">
    Login
  </button>

</mat-toolbar>
