<div mat-dialog-content>
  <form [formGroup]="storeForm" (ngSubmit)="onSubmit()">
    <p *ngIf="data?.element">
      <mat-form-field>
        <input type="text" autofocus matInput formControlName="storeId">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input type="text" autofocus matInput placeholder="Address" formControlName="address">
        <mat-error *ngIf="address?.invalid && !address?.value && address?.touched">
          Please fill the store address!
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input type="number" min="1" max="5" autofocus matInput placeholder="Length" formControlName="length">
        <mat-error *ngIf="length?.invalid && !length?.value && length?.touched">
          Please choose the store length!
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input type="number" min="1" max="5" autofocus matInput placeholder="Width" formControlName="width">
        <mat-error *ngIf="width?.invalid && !width?.value && width?.touched">
          Please choose the store width!
        </mat-error>
      </mat-form-field>
    </p>
    <button mat-button type="submit" [disabled]="storeForm?.invalid">Save</button>
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
  </form>
</div>

