
<app-header></app-header>

<div class="login-container">
  <div class="login-content">
    <mat-card>
      <form [formGroup]="loginForm" novalidate (ngSubmit)="submit()">
        <mat-form-field>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input autofocus type="text" matInput placeholder="Username" formControlName="email">
          <mat-error *ngIf="email?.invalid && !email?.value && email?.touched">
            Please fill your email!
          </mat-error>
          <mat-error *ngIf="email?.invalid && email?.value">
            Please fill a valid email!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input type="password" autocomplete="false" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="password?.invalid && !password?.value && password?.touched">
            Please give a correct password!
          </mat-error>
        </mat-form-field>

        <button type="submit"  [disabled]="loginForm?.invalid" mat-raised-button color="primary">Login</button>
      </form>
    </mat-card>
  </div>
</div>
