<div class="products-container">
  <app-header (isLoggedInStatus)="applyLoggedInStatus($event)"></app-header>
  <app-filter
    (filterValue)="applyFilter($event)">
  </app-filter>
  <app-products-list
    [isLoggedIn]="isLoggedIn"
    [dataSource]="dataSource"
    (updatedProduct)="onEdit($event)"
    (deletedProduct)="onDelete($event)">
  </app-products-list>
  <app-add-new-btn [isLoggedIn]="isLoggedIn" (dialogValue)="onAdd($event)"></app-add-new-btn>
  <app-paginator
    (paginatorEventToParent)="applyPaginator($event)">
  </app-paginator>
</div>
