<div mat-dialog-content>
  <form [formGroup]="storeForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field *ngIf="storeId?.value">
        <input type="text" autofocus matInput placeholder="Store ID" formControlName="storeId">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input type="text" autofocus matInput placeholder="Address" formControlName="address">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input type="number" min="1" max="5" autofocus matInput placeholder="Width" formControlName="width">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input type="number" min="1" max="5" autofocus matInput placeholder="Length" formControlName="length">
      </mat-form-field>
    </p>
    <button mat-button type="submit">Save</button>
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
  </form>
</div>



