<mat-card *ngIf="clickedStore">
  <div *ngIf="isStoreBigEnough(clickedStore, products); then fitTpl else doesntFitTpl"></div>
  <ng-template #fitTpl>
    <div class="fit">
      <h2>FIT</h2>
      <button mat-icon-button (click)="onClose()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </ng-template>
  <ng-template #doesntFitTpl>
    <div class="doesnt-fit">
      <h2>NOT FIT</h2>
      <button mat-icon-button (click)="onClose()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </ng-template>
</mat-card>
