<div *ngIf="clickedStore">
  <div *ngIf="isStoreBigEnough(clickedStore, products); then fitTpl else doesntFitTpl"></div>
  <ng-template #fitTpl>
    <mat-card class="fit">
      <mat-card-header>
        <button mat-icon-button>
          <mat-icon (click)="onClose()">cancel</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>FIT</mat-card-title>
        <mat-card-subtitle>{{clickedStore.id}}</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </ng-template>
  <ng-template #doesntFitTpl>
    <mat-card class="doesnt-fit">
      <mat-card-header>
        <button mat-icon-button>
          <mat-icon (click)="onClose()">cancel</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>NOT FIT</mat-card-title>
        <mat-card-subtitle>{{clickedStore.id}}</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </ng-template>
</div>

