<div mat-dialog-content>
  <form [formGroup]="productForm" >
    <p>
      <mat-form-field>
        <input type="text" autofocus matInput placeholder="Name" formControlName="name">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input type="number" autofocus matInput placeholder="Width" formControlName="width">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input type="number" autofocus matInput placeholder="Length" formControlName="length">
      </mat-form-field>
    </p>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close(true)">Delete</button>
  <button mat-button (click)="dialogRef.close(false)">Cancel</button>
</div>
